#dropbar {
	min-height: 150px;
	background-color: #cdcdcd;
}

.line_item {
	list-style: none;
	float:left;
	border: 1px #1a1a1a dotted;
	width: 50px;
	height: 50px;
	margin: 5px;
}

.cancel {
	float:right;
	font-size: 0.6em;
	font-weight: bold;
	cursor:pointer;
	padding-right: 3px;
}

.infos {
	float: left;
	font-size: 0.6em;
	font-weight: bold;
	cursor:pointer;
	padding-left: 3px;
}